
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background-color: transparent !important;
    border-radius: 10px !important;


}
.css-uhb5lp{
    margin: 0px !important;
    box-shadow: none !important;
}
.upp-Modal{
   /* box-sizing: border-box; */
   
   max-width:750px;
   
}
